.tiles-img{
    width: 100%;
    height: 500px;
    position: relative;
    background-image: url('../../../assets/tiltes.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;


}
.tiles-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color:white;
    align-items: flex-start;
    flex-direction: column;
    
    background-color: rgba(0,0,0,0.4);
}